@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
}

/* shared or common style */
.secondary-bg {
  background-color: #f5f4ff;
}

.btn-primary {
  border-radius: 5px;
  background: rgb(80, 80, 160);;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  padding: 15px 30px;
  border: none;
}

.section-title {
  font-size: 29px;
  font-weight: bold;
  color: #181818;
}

.section-description {
  font-size: 15px;
  color: #757575;
}

.text-center {
  text-align: center;
}

/* header styles */
.header {
  background-image: url(../images/header_bg_blue.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}


/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 151px 0 194px;
  padding-top: 50px;
}

.nav-title {
  font-weight: 800;
  font-size: 38px;
  color: rgb(117, 117, 117);
}

.nav-title-color {
  color: rgb(80, 80, 160);
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  font-size: 20px;
  margin-right: 43px;
  color: rgb(71, 71, 71);
  font-weight: 400;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  
}

.banner-content {
  max-width: 500px;
  margin: 160px 0 157px 194px;
  max-height: 305px;
  /* display: flex;
  flex-direction: column; */
}

.banner-greetings {
  color: rgb(71, 71, 71);
  font-size: 38px;
  font-weight: 600;
}

.banner-title {
  color: rgb(24, 24, 24);
  font-size: 72px;
  font-weight: 700;
  margin: 5px 0 20px 0;
  color: rgb(80, 80, 160);
}

.banner-discription {
  color: rgb(117, 117, 117);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 30px;
}  

#btn-contact {
  margin-left: 16px;
  background: none;
  color: #FD6E0A;
  border: 2px solid #FD6E0A;
  color: rgb(80, 80, 160);;
  border: 2px solid rgb(80, 80, 160);;
  padding: 13px 23px;
}

.banner-profile-pic {
  width: 492px;
  height: 570px;
  margin-top: 51px;
  margin-right: 32px;
}

.banner-left-side-pic {
  position: absolute;
  top: 40px;
  left: 45px;
}

/* main-styles */
.main {
  max-width: 961px;
  margin: 0 auto;
}

/* about-styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 110px;
}

.about-description  {
  margin: 25px 0;
}

.about-items {
  display: flex;
  justify-content: space-around;
}

.item-title {
  font-size: 16px;
  color: #757575;
  line-height: 25px;
}

.item-description {
  font-size: 16px;
  color: #474747;
  font-weight: bold;
}

/* What I do */
.skills {
  margin: 110px 0;
}

.skills-description {
  padding: 25px 96px 42px 96px;
}

.skills-container {
  display: flex;
  gap: 20px;
}

.skill-box {
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
}

/* My resume section style */
.resume-container {
  display: flex;
  gap: 20px;
}

.resume-column-title {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: 700;
  margin-top: 60px;
}

.experience-title {
  color: rgb(71, 71, 71);
  font-size: 21px;
  font-weight: 700;
  margin: 25px 0 8px 0;
  }

.experience-sub-title {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  }

.experience-description {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}

.btn-download {
  margin: 35px 0 110px 0;
}

/* footer style */
footer {
  display: flex;
  gap: 100px;
  padding: 0 194px 0 194px;
  max-height: 710px;
}

.footer-column-title {
  padding: 110px 0 25px 0;
}

.footer-icon {
  margin-right: 21px;
}

footer input[type="text"], footer input[type="email"] {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 400;
  width: 460px;
  height: 64px;
  border-radius: 5px;
  border: none;
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
  outline: none;
  padding-left: 25px;
}

.from-message {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 400;
  width: 485px;
  height: 180px;
  border-radius: 5px;
  border: none;
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
  outline: none;
}

textarea::placeholder {
  font-family: Open Sans;
  font-size: 14px;
  padding-left: 25px;
  padding-top: 15px;
}

.footer-btn {
  margin-bottom: 110px;
}


