@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
}

/* shared or common style */
.secondary-bg {
  background-color: #f5f4ff;
}

.btn-primary {
  border-radius: 5px;
  background: rgb(80, 80, 160);;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 30px;
  border: none;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #181818;
}

.section-description {
  font-size: 1rem;
  color: #757575;
}

.text-center {
  text-align: center;
}

/* header styles */
.header {
  background-image: url(../images/header_bg_blue.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

header{
  margin-bottom: 100px;

}

/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 151px 0 194px;
  padding-top: 50px;
}

.nav-title {
  font-weight: 800;
  font-size: 2.4rem;
  color: rgb(117, 117, 117);
}

.nav-title-color {
  color: rgb(80, 80, 160);
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  font-size: 1.3rem;
  margin-right: 43px;
  color: rgb(71, 71, 71);
  font-weight: 400;
}

nav li a {
  text-decoration: none;
  font-size: 1.3rem;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  
}

.banner-content {
  max-width: 500px;
  margin: 160px 0 157px 194px;
  max-height: 305px;
  /* display: flex;
  flex-direction: column; */
}

.banner-greetings {
  color: rgb(71, 71, 71);
  font-size: 2.4rem;
  font-weight: 600;
}

.banner-title {
  color: rgb(24, 24, 24);
  font-size: 4.5rem;
  font-weight: 700;
  margin: 5px 0 20px 0;
  color: rgb(80, 80, 160);
}

.banner-discription {
  color: rgb(117, 117, 117);
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 30px;
}  

#btn-contact {
  margin-left: 16px;
  background: none;
  color: #FD6E0A;
  border: 2px solid #FD6E0A;
  color: rgb(80, 80, 160);;
  border: 2px solid rgb(80, 80, 160);;
  padding: 13px 23px;
}

i{
  margin-right: 15px;
}

.banner-profile-pic {
  width: 492px;
  height: 570px;
  margin-top: 51px;
  margin-right: 32px;
}

.banner-left-side-pic {
  position: absolute;
  top: 40px;
  left: 45px;
}

/* main-styles */
.main {
  max-width: 961px;
  margin: 0 auto;
}

/* about me - styles */
.about {
  border-radius: 10px;
  padding: 100px 120px;
  text-align: center;
  margin-top: 110px;
}

.about-description  {
  margin: 25px 0;
}

.about-items {
  display: flex;
  justify-content: space-around;
}

.item-title {
  font-size: 1rem;
  color: #757575;
  line-height: 25px;
}

.item-description {
  font-size: 1rem;
  color: #474747;
  font-weight: bold;
}

/* What I do */
.skills {
  margin: 110px 0;
}

.skills-description {
  padding: 25px 96px 42px 96px;
}

.skills-container {
  display: flex;
  gap: 20px;
}

.skill-box {
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
}

/* My resume section style */
.resume-container {
  display: flex;
  gap: 20px;
}

.resume-column-title {
  color: rgb(71, 71, 71);
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 60px;
}

.experience-title {
  color: rgb(71, 71, 71);
  font-size: 1.3rem;
  font-weight: 700;
  margin: 25px 0 8px 0;
  }

.experience-sub-title {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 16px;
  }

.experience-description {
  color: rgb(117, 117, 117);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}

.btn-download {
  margin: 35px 0 110px 0;
}

/* footer style */
footer {
  display: flex;
  gap: 100px;
  padding: 0 194px 0 194px;
  max-height: 710px;
}

.footer-column{
  width: 50%;
}

.footer-column-title {
  padding: 110px 0 25px 0;
}

.footer-icon {
  margin-right: 21px;
}

footer input[type="text"], 
footer input[type="email"],
textarea {
  color: rgb(117, 117, 117);
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;
  height: 64px;
  border-radius: 5px;
  border: none;
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
  outline: none;
  padding-left: 25px;
}

textarea {
  height: 180px;
  padding-top: 15px;
}

textarea::placeholder {
  font-family: Open Sans;
  font-size: 0.9rem;
}

.footer-btn {
  margin-bottom: 110px;
}

/* small screen responsive media query */
.hide{
  display: none;
}

@media screen and (max-width: 576px){
  body{
    padding: 20px;
  }

  nav,
  nav ul,
  .banner,
  .about-items,
  .skills-container,
  .resume-container,
  footer{
    flex-direction: column;
  }

  .banner{
    flex-direction: column-reverse;
  }

  nav{
    padding-top: 30px;
    gap: 30px;
    margin: 0 auto;
  }

  nav ul{
    gap: 20px;
  }

  nav ul li {
    margin-right: 0;
  }

  header{
    padding-bottom: 200px;
    border-radius: 10px;
  }

  .header{
    background-position-y: 339px;
    background-size: 170%;
  }

  #btn-contact{
    margin: 20px 0 0 0;
  }

  .banner-content{
    padding: 50px 20px;
    margin: 0;
  }
 
  .banner-profile-pic {
    width: 100%;
    height: 100%;
  }
  
  .banner-left-side-pic {
    display: none;
  }

  
  .about {
    border-radius: 10px;
    padding: 50px 30px;
  }

  .about-items{
    gap: 30px;
  }
  
  .about-description  {
    margin: 25px 0 60px 0;
  }

  footer {
    gap: 40px;
    max-height: 800px;
  }

  .skills-description{
    padding: 30px 30px 60px 30px;
  }

  footer{
    padding: 20px;
    border-radius: 10px;
  }

  .footer-column{
    width: 100%;
  }

  .footer-column-title{
    padding: 30px 0 20px 0;
  }

  footer input[type="text"], 
  footer input[type="email"], 
  textarea{
    width: calc(100% - 20px);
  }

  textarea::placeholder {
    font-family: Open Sans;
    font-size: 14px;
  }

  .footer-btn {
    margin-bottom: 20px;
  }


}



  /* medium screen responsive media query */

  @media screen and (min-width: 576px) and (max-width:990px) {
    .banner-left-side-pic {
      display: none;
    }
  
    body{
      padding: 20px;
    }

    nav {
      justify-content: space-between;
      margin: 0px 30px 0 35px;
    }

    nav ul li {
      margin: 0 0 0 30px;
    }

    
  header{
    border-radius: 10px;
    border: none;
  }

  .header{
    background-position-y: 392px;
    background-size: 85%;
  }

  #btn-contact{
    margin: 20px 0 0 0;
  }

    .banner-content{
      margin: 100px 0 0 30px;
    }

    .banner-profile-pic {
      width: 70%;
      height: 70%;
      padding-top: 53px;
    }

    .about {
      border-radius: 10px;
      padding: 50px 40px;
    }
  
    .about-items{
      gap: 25px;
    }
    
    .about-description  {
      margin: 25px 0 60px 0;
      padding: 0 20px;
    }

    .skills-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .resume-container {
      gap: 30px;
    }

    footer{
      padding: 0 30px;
      gap: 50px;
      border-radius: 10px;
    }

    .footer-column{
      padding-right: 20px;
    }
    .footer-column-title{
      padding-top: 50px;
    }

    .footer-btn {
      margin-bottom: 50px;
    }

  }
